<button
  aria-label="Scroll to top button"
  class="bloc-button btn btn-d scrollToTop"
  onclick="scrollToTarget('1',this)"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="22"
    height="22"
    viewBox="0 0 32 32"
  >
    <path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"></path>
  </svg>
</button>
<div class="bloc l-bloc" id="bloc-1">
  <div class="container bloc-no-padding">
    <div class="container p-4">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
          <a href="/">
            <img
              class="mx-auto d-block"
              src="/img/itmo.png"
              alt="Логотип ИТМО"
              style="width: 150px;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/blocs.min.js"></script>
<script src="/js/lazysizes.min.js" defer></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/formHandler.js"></script>
