<nav style="background-color: teal;">
    <div class="nav-wrapper">
        <img class="brand-logo" alt="OPD-shniki (bez chatGPT)" src="/favicon.ico" style="height: 97%; object-fit: cover;">
        <ul id="nav-mobile" class="right hide-on-med-and-down" style="background-color: teal !important;">
            {{#if isAdmin}}
                <li class="active"><a href="/admin/pass">Админ панель</a></li>
            {{else}}
                <li><a href="/admin/pass">Админ панель</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
