
<div class="bloc-no-padding" style="background-color: white;">
  <nav class="container navbar navbar-expand-md" role="navigation" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand brand ltc-2190" href="/">
        Лабы по ОПД
      </a>
      <button
        id="nav-toggle"
        type="button"
        class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto"
        aria-expanded="false"
        aria-label="Toggle navigation"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-18508"
      >
        <span class="navbar-toggler-icon">
          <svg height="32" viewBox="0 0 32 32" width="32">
            <path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path>
          </svg>
        </span>
      </button>
      <div class="collapse navbar-collapse navbar-18508">
        <ul class="site-navigation nav navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/about/" class="nav-link">
              О нас
            </a>
          </li>
          <li class="nav-item">
            <a href="/contact/" class="nav-link">
              Зачёт
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>