<!-- bloc-4 -->
<div class="bloc l-bloc" id="bloc-4">
  <div class="container bloc-md">
    <div class="row">
      <div
        class="text-md-start col-lg-12 col-md-12 text-start ps-0 pe-0 ps-lg-3 pe-lg-3 ps-md-3 pe-md-3 ps-sm-2 pe-sm-2"
      >
        <h3 class="section-heading primary-text mb-3 mb-md-4">
          Наша команда
        </h3>
      </div>
      <div
        class="d-flex col-sm-12 col-lg-6 ps-0 pe-0 mb-3 ps-sm-2 pe-sm-2 mb-sm-3 col-md-12 ps-md-3 pe-md-3 mb-md-4 mb-lg-0"
      >
        <div class="bento-box bgc-5341 primary-gradient">
          <img
            src="/img/lazyload-ph.png"
            data-src="/img/avatar@2x.png"
            class="img-fluid mx-auto d-block avatar mb-4 mt-4 mb-lg-4 lazyload"
            alt="avatar@2x"
          />
          <h3 class="tc-3849 box-heading">
            Хвалебный текст
          </h3>
          <p class="box-info tc-3849">
            Потом сгененируем в чатгпт. А ой
          </p>
        </div>
      </div>
      <div
        class="d-flex col-sm-12 mb-md-0 ps-0 pe-0 text-center ps-sm-2 pe-sm-2 text-sm-start col-md-12 ps-md-3 pe-md-3 col-lg-6 mb-0 mb-sm-0"
      >
        <div class="bento-box">
          <div>
            <h3 class="box-heading primary-text">
              Хвалебные ссылки
              <br />
            </h3>
            <p class="box-info tc-2190">
              Потом придумаем
            </p>
          </div>
          <a
            href="./"
            class="a-btn text-lg-left token-link mb-2"
          >
            My Writing
          </a>
          <a
            href="./"
            class="a-btn text-lg-left token-link mb-2"
          >
            Dribbble
          </a>
          <a
            href="./"
            class="a-btn text-lg-left token-link mb-2"
          >
            Playlists
          </a>
          <a
            href="./"
            class="a-btn text-lg-left token-link mb-2"
          >
            Linkedin
          </a>
          <a
            href="./"
            class="a-btn text-lg-left token-link mb-2"
          >
            Vimeo
          </a>
          <a href="./" class="a-btn text-lg-left token-link">
            Icon Design
          </a>
          <a href="./" class="a-btn text-lg-left token-link">
            My Setup
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-4 END -->
<!-- bloc-5 -->
<div
  class="bloc bg-1648326642-32-kartinkof-club-p-mem-ilon-mask-kurit-34 d-bloc"
  id="bloc-5"
>
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="card">
          <div class="card-body team-card">
            <img
              src="/img/lazyload-ph.png"
              data-src="/img/placeholder-user.png"
              class="rounded-circle mx-auto d-block mt-5 lazyload"
              width="100"
              alt="placeholder user"
            />
            <h3 class="text-center mg-sm">
              Член команды
            </h3>
            <h5 class="text-center mg-md">
              Frontend и weekend
            </h5>
            <div class="row">
              <div
                class="col-6 col-sm-2 offset-sm-2 col offset-md-1 offset-lg-2"
              >
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-facebook-official icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-twitter icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-instagram icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-envelope-o icon-md"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-3 mt-md-0">
        <div class="card">
          <div class="card-body team-card">
            <img
              src="/img/lazyload-ph.png"
              data-src="/img/placeholder-user.png"
              class="rounded-circle mx-auto d-block mt-5 lazyload"
              width="100"
              alt="placeholder user"
            />
            <h3 class="text-center mg-sm">
              Член команды
            </h3>
            <h5 class="text-center mg-md">
              Backend и brainstorm
            </h5>
            <div class="row">
              <div
                class="col-6 col-sm-2 offset-sm-2 col offset-md-1 offset-lg-2"
              >
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-facebook-official icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-twitter icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-instagram icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-envelope-o icon-md"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 mt-3 mt-md-0">
        <div class="card">
          <div class="card-body team-card">
            <img
              src="/img/lazyload-ph.png"
              data-src="/img/placeholder-user.png"
              class="rounded-circle mx-auto d-block mt-5 lazyload"
              width="100"
              alt="placeholder user"
            />
            <h3 class="text-center mg-sm">
              Член команды
            </h3>
            <h5 class="text-center mg-md">
              Базы данных и Kompas 3d
            </h5>
            <div class="row">
              <div
                class="col-6 col-sm-2 offset-sm-2 col offset-md-1 offset-lg-2"
              >
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-facebook-official icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-twitter icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-instagram icon-md"></span>
                  </a>
                </div>
              </div>
              <div class="col-6 col-sm-2">
                <div class="text-center">
                  <a href=".//">
                    <span class="fa fa-envelope-o icon-md"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-5 END -->
`
<!-- Additional JS -->
<script src="/js/bootstrap.bundle.min.js?898"></script>
<script src="/js/blocs.min.js?2723"></script>
<script src="/js/lazysizes.min.js" defer></script>
<!-- Additional JS END -->
