<div class="bloc l-bloc" id="bloc-15">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div>
                            <h3 class="mb-4 section-heading primary-text">
                                Сложные сенсомоторные реакции
                            </h3>
                            <div class="row">
                                <div class="col">
                                    <a href="colors_hard/" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl">Разные цвета</a>
                                </div>
                                <div class="col">
                                    <a href="sound_hard/" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl">Звуковой сигнал</a>
                                </div>
                                <div class="col">
                                    <a href="maths_hard/" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl">Сложение в уме</a>
                                </div>
                            </div><a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl mt-lg-3" data-bs-toggle="modal" data-bs-target="#progress-hard">Прогресс<br></a>
                            <div id="progress-hard" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog  modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="mg-clear primary-text box-heading">
                                                Прогресс по сложным реакциям
                                            </h3>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Прогресс
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-d btn-lg box-btn fill-mob-btn primary-btn" data-bs-toggle="modal" data-bs-target="#progress-hard">Закрыть</a>
                                        </div>
                                    </div>
                                </div>
                            </div><a href="../" class="btn btn-d box-btn fill-mob-btn primary-btn mt-lg-5 float-lg-end btn-rd btn-lg">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>