<!-- bloc-1 -->
<div class="bloc bgc-3849 l-bloc" id="bloc-1">
  <!-- bloc-1 END -->
  <!-- bloc-0 -->
  <div class="bloc l-bloc" id="bloc-0">
    <div class="container bloc-sm">
      <div class="row">
        <div
          class="text-center text-md-start l-bloc col-md-12 col-lg-12 offset-lg-0 mb-4 text-sm-start pe-0 ps-0 ps-sm-2 pe-sm-2 mb-lg-4 ps-lg-3 pe-lg-3"
        >
          <div class="bento-box">
            <div class="row">
              <div class="col align-self-center">
                <div class="row">
                  <div class="col-12 mb-2 col-sm-7 col-md-8 col-lg-9">
                    <h1 class="mini-heading mb-0 tc-6153">
                      Без CHATGPT
                    </h1>
                    <h2 class="mb-0 tc-2190">
                      Трендсеттеры лабораторных по ОПД
                    </h2>
                  </div>
                  <div
                    class="col-12 align-self-center text-lg-end text-sm-end col-sm-5 col-md-4 col-lg-3"
                  >
                    <a
                      href="./contact/"
                      class="btn btn-d btn-rd box-btn primary-btn"
                    >
                      Выразить респект
                      <br />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-md-12 align-self-center col-lg-12 text-lg-start text-center pe-0 ps-0 ps-md-2 pe-md-2 text-md-start mb-3 mb-lg-4 ps-lg-3 pe-lg-3"
        >
          <a href="./" class="a-btn text-lg-left token-link active-token">
            Все лабы
          </a>
          <a href="./" class="a-btn text-lg-left token-link">
            Тесты
          </a>
          <a href="./" class="a-btn text-lg-left token-link">
            Внимание
          </a>
          <a href="./" class="a-btn text-lg-left token-link">
            Память
          </a>
          <a href="./" class="a-btn text-lg-left token-link">
            Другое
          </a>
        </div>
        <div
          class="col-md-6 text-center text-md-start mb-4 col-lg-6 text-sm-start pe-0 ps-0 col-sm-6 ps-sm-2 pe-sm-2 mb-sm-2 mb-lg-4 ps-lg-3 pe-lg-3"
        >
          <div class="bento-box bg-img-box text-start box-bg-1">
            <h3 class="box-heading gradient-heading">
              Первая лаба
            </h3>
            <a href="./first_laba/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow.svg"
                class="img-fluid mx-auto d-block arrow-btn lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-6 text-sm-start text-start pe-0 ps-0 col-sm-6 pe-sm-2 ps-sm-2 mb-sm-3 mb-lg-4 ps-lg-3 pe-lg-3"
        >
          <div class="bento-box bg-img-box box-bg-2">
            <h3 class="box-heading gradient-heading">
              Вторая лаба
              <br />
            </h3>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow.svg"
                class="img-fluid mx-auto d-block arrow-btn lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-6 text-sm-start text-start pe-0 ps-0 col-sm-6 pe-sm-2 ps-sm-2 mb-sm-3 ps-lg-3 pe-lg-3 mb-lg-4"
        >
          <div class="bento-box bg-img-box box-bg-3">
            <h3 class="box-heading gradient-heading">
              Третья лаба
            </h3>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow.svg"
                class="img-fluid mx-auto d-block arrow-btn lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-6 text-sm-start text-start pe-0 ps-0 col-sm-6 pe-sm-2 ps-sm-2 mb-sm-2 ps-lg-3 pe-lg-3 mb-lg-4"
        >
          <div class="bento-box bg-img-box box-bg-4">
            <h3 class="box-heading gradient-heading">
              Четвертая лаба
              <br />
            </h3>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow.svg"
                class="img-fluid mx-auto d-block arrow-btn lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-3 col-sm-6 text-sm-start text-start pe-0 ps-0 ps-sm-2 pe-sm-2 mb-sm-3 ps-lg-3 pe-lg-3"
        >
          <div class="bento-box alt-bottom-padding">
            <a href="./">
              <img
                src="img/lazyload-ph.png"
                data-src="img/cms-icon.svg"
                class="img-fluid mx-auto d-block mb-4 mt-4 sm-box-img lazyload"
                alt="placeholder image"
              />
            </a>
            <h4 class="mb-0 tc-2190 sm-box-heading md-box-heading">
              Пятая
            </h4>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow-dark.svg"
                class="img-fluid mx-auto d-block arrow-btn sm-arrow lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-3 col-sm-6 text-sm-start text-start pe-0 ps-0 ps-sm-2 pe-sm-2 mb-sm-3 ps-lg-3 pe-lg-3"
        >
          <div class="bento-box alt-bottom-padding">
            <a href="./">
              <img
                src="img/lazyload-ph.png"
                data-src="img/cms-icon.svg"
                class="img-fluid mx-auto d-block mb-4 mt-4 sm-box-img lazyload"
                alt="placeholder image"
              />
            </a>
            <h4 class="mb-0 tc-2190 sm-box-heading md-box-heading">
              Шестая
            </h4>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow-dark.svg"
                class="img-fluid mx-auto d-block arrow-btn sm-arrow lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-3 col-sm-6 text-sm-start text-start pe-0 ps-0 ps-sm-2 pe-sm-2 mb-sm-3 ps-lg-3 pe-lg-3"
        >
          <div class="bento-box alt-bottom-padding">
            <a href="./">
              <img
                src="img/lazyload-ph.png"
                data-src="img/cms-icon.svg"
                class="img-fluid mx-auto d-block mb-4 mt-4 sm-box-img lazyload"
                alt="placeholder image"
              />
            </a>
            <h4 class="mb-0 tc-2190 sm-box-heading md-box-heading">
              Седьмая
            </h4>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow-dark.svg"
                class="img-fluid mx-auto d-block arrow-btn sm-arrow lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="col-md-6 text-md-start mb-4 col-lg-3 col-sm-6 text-sm-start pe-0 ps-0 ps-sm-2 pe-sm-2 mb-sm-3 ps-lg-3 pe-lg-3 text-start"
        >
          <div class="bento-box alt-bottom-padding">
            <a href="./">
              <img
                src="img/lazyload-ph.png"
                data-src="img/cms-icon.svg"
                class="img-fluid mx-auto d-block mb-4 mt-4 sm-box-img lazyload"
                alt="placeholder image"
              />
            </a>
            <h4 class="mb-0 tc-2190 sm-box-heading md-box-heading">
              Восьмая
            </h4>
            <a href="./project/">
              <img
                src="img/lazyload-ph.png"
                data-src="img/arrow-dark.svg"
                class="img-fluid mx-auto d-block arrow-btn sm-arrow lazyload"
                alt="arrow"
                data-bs-placement="top"
                data-bs-toggle="tooltip"
                title="View Project."
              />
            </a>
          </div>
        </div>
        <div
          class="text-center text-md-start col-lg-12 col-md-12 mt-3 mt-sm-4 pe-0 ps-0 mt-md-4 ps-sm-2 pe-sm-2"
        >
          <h3 class="section-heading primary-text mb-3 mb-lg-4">
            Новое слово в лабораторных по ОПД
            <br />
          </h3>
        </div>
        <div
          class="text-md-start l-bloc mb-4 col-lg-12 text-lg-start col-md-12 text-start ps-lg-0 pe-lg-0"
        >
          <div class="row">
            <div
              class="d-flex col-sm-12 mb-4 pe-0 ps-0 mb-sm-3 col-md-12 mb-md-3 ps-sm-2 col-lg-6 mb-lg-0 pe-lg-3 ps-lg-3 pe-sm-2"
            >
              <div class="bento-box bgc-5341 primary-gradient">
                <img
                  src="img/lazyload-ph.png"
                  data-src="img/avatar@2x.png"
                  class="img-fluid mx-auto d-block avatar mb-4 lazyload"
                  alt="avatar@2x"
                />
                <h3 class="tc-3849 box-heading">
                  Эй, гптшники!
                </h3>
                <p class="box-info tc-3849 mb-0">
                  Хватит деградировать. Этот сайт - пример того, на что способен человек. Ни один чатгпт не пострадал.
                  <br />
                  Сарказм - возможен.
                </p>
              </div>
            </div>
            <div
              class="text-lg-start text-sm-start ps-0 pe-0 ps-sm-2 pe-sm-2 col-lg-6 text-center"
            >
              <div class="bento-box mb-4 mb-sm-3 mb-lg-4">
                <h3 class="box-heading primary-text">
                  Поставить зачёт
                </h3>
                <p class="tc-2190 box-info">
                  Вы можете написать нам об этом
                </p>
                <a
                  href="./contact/"
                  class="btn btn-d btn-rd box-btn primary-btn fill-mob-btn"
                >
                  Ссылка на форму
                  <br />
                </a>
              </div>
              <div class="bento-box">
                <div>
                  <h3 class="box-heading primary-text">
                    Что-нибудь ещё
                  </h3>
                </div>
                <a href="./" class="a-btn text-lg-left token-link mb-2">
                  Всякие
                </a>
                <a href="./" class="a-btn text-lg-left token-link mb-2">
                  Кнопки
                </a>
                <a href="./" class="a-btn text-lg-left token-link mb-2">
                  И
                </a>
                <a href="./" class="a-btn text-lg-left token-link mb-2">
                  Ссылки
                </a>
                <a href="./" class="a-btn text-lg-left token-link mb-2">
                  Потом
                </a>
                <a href="./" class="a-btn text-lg-left token-link">
                  Придумаю
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bloc-0 END -->
  <!-- ScrollToTop Button -->
  <button
    aria-label="Scroll to top button"
    class="bloc-button btn btn-d scrollToTop"
    onclick="scrollToTarget('1',this)"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 32 32"
    >
      <path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"></path>
    </svg>
  </button>
  <!-- ScrollToTop Button END-->
</div>
<!-- Additional JS -->
<script src="./js/bootstrap.bundle.min.js?898"></script>
<script src="./js/blocs.min.js?2723"></script>
<script src="./js/lazysizes.min.js" defer></script>
<!-- Additional JS END -->