<!DOCTYPE html>
<html lang="">
<head>
    <title>Основная страница</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<header>
    <h1>Лаба по ОПД</h1>
</header>
<main>
    <h2>Тестирование</h2>
    <div class="test-card">
        <h3>Тест 1</h3>
        <p>Описание теста 1</p>
        <a href="test1.html" class="btn">Пройти тест</a>
    </div>
    <div class="test-card">
        <h3>Тест 2</h3>
        <p>Описание теста 2</p>
        <a href="test2.html" class="btn">Пройти тест</a>
    </div>
    <div class="test-card">
        <h3>Тест 3</h3>
        <p>Описание теста 3</p>
        <a href="test3.html" class="btn">Пройти тест</a>
    </div>

    <div class="test-card">
        <h3>Ссылки</h3>
        <div class="btn-wrapper">
            <a href="pvk.html" class="btn">Список ПВК</a>
            <a href="prof.html" class="btn">Профессии</a>
        </div>
    </div>
</main>
<footer>
    <p>Сделано с любовью</p>
</footer>
</body>
</html>