<!-- bloc-3 -->
<div class="bloc l-bloc" id="bloc-3">
  <div class="container bloc-md">
    <div class="row">
      <div
        class="text-md-start col-lg-12 ps-0 pe-0 mb-3 ps-sm-2 pe-sm-2 ps-lg-3 pe-lg-3 mb-lg-4 text-sm-start text-start"
      >
        <div class="bento-box">
          <h3
            class="mb-3 box-heading overlay-heading gradient-heading btn-resize-mode h3-style"
          >
            Первая лаба
          </h3>
          <img
            src="/img/lazyload-ph.png"
            data-src="/img/graphic-1.jpg"
            class="img-fluid mx-auto d-block rounded mb-4 img-fluid-up lazyload"
            alt="graphic 2"
          />
          <p class="tc-2190 box-info mb-4">
            Определение видов программистов и ИТ, ПВК для определенного вида деятельности
          </p>
          <div class="text-center">
            <a
              href="/"
              class="btn box-btn fill-mob-btn primary-btn btn-rd btn-xl w-100 btn-d"
            >
              Пройти тест
            </a>
          </div>
        </div>
        <a href="/" class="a-btn a-block">
          <span class="special-tag-for-editing-text-with-html"></span>
        </a>
      </div>
      <div
        class="col-md-6 text-center text-md-start col-lg-6 d-flex ps-0 pe-0 mb-3 ps-sm-2 pe-sm-2 ps-md-2 ps-lg-3 mb-lg-4 pe-md-2 text-sm-start pe-lg-3"
      >
        <div class="bento-box">
          <div>
            <h3 class="box-heading primary-text">
              Список экспертов
            </h3>
          </div>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Иванов Иван Иванович
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Петров Пётр
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Сидоров Сидр
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Козлова Проректор
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Васильев шутка на грани
          </a>
          <a href="/" class="a-btn text-lg-left token-link">
            Беглов Мэр
          </a>
        </div>
      </div>
      <div
        class="text-md-start l-bloc text-lg-start col-lg-6 d-flex ps-0 pe-0 mb-3 text-center ps-sm-2 pe-sm-2 col-md-6 mb-lg-4 ps-lg-3 pe-lg-3 text-sm-start"
      >
        <div class="bento-box">
          <h3 class="box-heading primary-text">
            Поставить зачёт
          </h3>
          <p class="tc-2190 box-info">
            Форма обратной связи
          </p>
          <a
            href="/contact/"
            class="btn btn-d btn-rd box-btn primary-btn fill-mob-btn"
          >
            Написать нам
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- bloc-3 END -->
