<div class="bloc l-bloc" id="bloc-5">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12 text-start">
        <div class="text-lg-center">
          <h3 class="mb-4 section-heading primary-text">
            Вторая лабораторная<br />
          </h3>
        </div>
        <h5 class="mb-4 text-lg-center">
          Простые и сложные сенсомоторные реакции
        </h5>
        <div>
          <div class="row">
            <div class="col">
              <div class="text-lg-center">
                <a
                  href="/labs/lab2/simple/"
                  class="btn btn-d w-100 box-btn fill-mob-btn primary-btn btn-xl btn-rd"
                >Оценка простых реакций<br /></a>
              </div>
            </div>
            <div class="col">
              <div>
                <a
                  href="/labs/lab2/hard/"
                  class="btn btn-d w-100 box-btn fill-mob-btn primary-btn btn-xl btn-rd"
                >Оценка сложных реакций<br /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>