<div class="bloc l-bloc" id="bloc-3">
  <div class="container bloc-md">
    <div class="row">
      <div
        class="text-md-start col-lg-12 ps-0 pe-0 mb-3 ps-sm-2 pe-sm-2 ps-lg-3 pe-lg-3 mb-lg-4 text-sm-start text-start"
      >
        <div class="bento-box">
          <h3 class="mb-3 box-heading overlay-heading gradient-heading">
            Geometric
          </h3>
          <img
            src="/img/lazyload-ph.png"
            data-src="/img/large-preview.jpg"
            class="img-fluid mx-auto d-block rounded mb-4 lazyload"
            alt="graphic 2"
          />
          <p class="tc-2190 box-info mb-4">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            <br />
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            <br />
          </p>
          <a
            href="blocsapp.com"
            class="btn btn-d btn-rd box-btn fill-mob-btn primary-btn"
          >
            Live lab
          </a>
        </div>
      </div>
      <div
        class="col-md-6 text-center text-md-start col-lg-6 d-flex ps-0 pe-0 mb-3 ps-sm-2 pe-sm-2 ps-md-2 ps-lg-3 mb-lg-4 pe-md-2 text-sm-start pe-lg-3"
      >
        <div class="bento-box">
          <div>
            <h3 class="box-heading primary-text">
              Services
            </h3>
          </div>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Illustration
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Brand Design
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Web Design
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Logo Design
          </a>
          <a href="/" class="a-btn text-lg-left token-link mb-2">
            Copy Writing
          </a>
          <a href="/" class="a-btn text-lg-left token-link">
            Icon Design
          </a>
          <a href="/" class="a-btn text-lg-left token-link">
            Product Design
          </a>
        </div>
      </div>
      <div
        class="text-md-start l-bloc text-lg-start col-lg-6 d-flex ps-0 pe-0 mb-3 text-center ps-sm-2 pe-sm-2 col-md-6 mb-lg-4 ps-lg-3 pe-lg-3 text-sm-start"
      >
        <div class="bento-box">
          <h3 class="box-heading primary-text">
            Contact
          </h3>
          <p class="tc-2190 box-info">
            Looking to book me for a lab? Please feel free to get in touch and check my availability.
            <br />
          </p>
          <a
            href="/contact/"
            class="btn btn-d btn-rd box-btn primary-btn fill-mob-btn"
          >
            Contact Me
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
