<div class="bloc l-bloc" id="bloc-5">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-8 text-start">
        <div class="text-lg-center">
          <h3 class="mb-4 section-heading primary-text">
            Вторая лабораторная<br />
          </h3>
        </div>
        <h5 class="mb-4 text-lg-start">
          Простые и сложные сенсомоторные реакции
        </h5>
        <div>
          <div class="row">
            <div class="col">
              <div class="text-lg-center">
                <a
                  href="/labs/lab2/simple/"
                  class="btn btn-d w-100 box-btn fill-mob-btn primary-btn btn-xl btn-rd"
                >Оценка простых реакций<br /></a>
              </div>
            </div>
            <div class="col">
              <div>
                <a
                  href="/labs/lab2/hard/"
                  class="btn btn-d w-100 box-btn fill-mob-btn primary-btn btn-xl btn-rd"
                >Оценка сложных реакций<br /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-start">
        <div>
          <h3 class="mb-4 primary-text box-heading">
            Результаты тестов
          </h3>
          <h5 class="mb-4 text-lg-start">
            Промежуточные итоги
          </h5>
        </div>
        <div>
          <a
            href="#"
            class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 float-lg-none btn-lg w-100"
            data-bs-toggle="modal"
            data-bs-target="#results-main"
          >Результаты</a>
          <div id="results-main" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="mb-lg-3 modal-content">
                <div class="modal-header">
                  <h3 class="mg-clear primary-text box-heading">
                    Результаты тестов 2 лабы
                  </h3>
                </div>
                <div class="modal-body">
                  <p>
                    Результаты
                  </p>
                  <div>
                    <ul class="list-unstyled">
                      <li>
                        <div class="divider-h">
                        </div>
                      </li>
                      <li>
                        <div class="divider-h">
                        </div>
                      </li>
                      <li>
                        <div class="divider-h">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <a
                    href="#"
                    class="btn btn-d btn-lg box-btn fill-mob-btn primary-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#results-main"
                  >Закрыть</a>
                </div>
              </div>
            </div>
          </div><a
            href="#"
            class="btn box-btn fill-mob-btn primary-btn mb-lg-3 float-lg-none btn-lg w-100 btn-d"
            data-bs-toggle="modal"
            data-bs-target="#progress-main"
          >Прогресс по тестам 2 лабы</a>
          <div
            id="progress-main"
            class="modal fade"
            tabindex="-1"
            role="dialog"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="mg-clear primary-text box-heading">
                    Прогресс по тестам 2 лабы
                  </h3>
                </div>
                <div class="modal-body">
                  <p>
                    Прогресс
                  </p>
                  <div>
                    <ul class="list-unstyled">
                      <li>
                        <div class="divider-h">
                        </div>
                      </li>
                      <li>
                        <div class="divider-h">
                        </div>
                      </li>
                      <li>
                        <div class="divider-h">
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <a
                    href="#"
                    class="btn btn-d btn-lg box-btn fill-mob-btn primary-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#progress-main"
                  >Закрыть</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>