<div class="bloc l-bloc" id="bloc-5">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-12 text-start">
                <div class="text-lg-center">
                    <h3 class="mb-4 section-heading primary-text">
                        Пятая лабораторная
                        <br>
                    </h3>
                </div>
                <h5 class="mb-4 text-lg-center">
                    Познавательные психические процессы
                </h5>
                <div class="row">
                    <div class="col">
                        <div class="text-lg-center">
                            <a href="/labs/lab5/lab5_consciousness/" class="btn btn-d box-btn fill-mob-btn primary-btn btn-xl btn-rd float-lg-none">
                            Тесты на внимание<br></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-lg-center">
                            <a href="/labs/lab5/lab5_memory/" class="btn btn-d w-100 box-btn fill-mob-btn primary-btn btn-xl btn-rd">
                            Тесты на память<br></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-lg-center">
                            <a href="/labs/lab5/lab5_brain/" class="btn btn-d w-100 box-btn fill-mob-btn primary-btn btn-xl btn-rd">
                            Тесты на мышление<br></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>