<!DOCTYPE html>
<html lang="">
<head>
    <title>Список профессий</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pvk.css">
</head>
<body>
<header>
    <h1>Лаба по ОПД</h1>
    <h2>Список профессий</h2>
</header>
<main>
    <p>Здесь будет список профессий</p>
    <a href="index.html" class="back-btn">Назад</a>
</main>
<footer>
    <p>Сделано с любовью</p>
</footer>
</body>
</html>
