<!DOCTYPE html>
<html lang="">
<head>
  <title>Список ПВК</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="pvk.css">
</head>
<body>
<header>
    <h1>Лаба по ОПД</h1>
    <h2>Список профессионально важных качеств</h2>
</header>
<main>
  <table>
    <thead>
    <tr>
      <th>Показатель</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Аккуратность в работе</td>
    </tr>
    <tr>
      <td>Старательность и исполнительность</td>
    </tr>
    <tr>
      <td>Способность принимать решения в нестандартных ситуациях</td>
    </tr>
    <tr>
      <td>Способность к воссозданию образа по словесному описанию</td>
    </tr>
    <tr>
      <td>Аналитичность</td>
    </tr>
    <tr>
      <td>Креативность</td>
    </tr>
    <tr>
      <td>Калькулятивность</td>
    </tr>
    <tr>
      <td>Зрительная долговременная память</td>
    </tr>
    <tr>
      <td>Зрительная оперативная память</td>
    </tr>
    <tr>
      <td>Свойства внимания</td>
    </tr>
    <tr>
      <td>Сохранение бдительности в условиях монотонной деятельности</td>
    </tbody>
  </table>
  <a href="index.html" class="back-btn">Назад</a>
</main>
<footer>
  <p>Сделано с любовью</p>
</footer>
</body>
</html>
