<div class="bloc l-bloc" id="bloc-8">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-8 text-start">
        <h3 class="mb-4 section-heading primary-text">
          Профессионально важные качества
          <br />
        </h3>
        <div>
          <div class="blocs-grid-container grid-bloc-8-style">
            <div class="text-lg-end">
              <p class="text-lg-end token-link">
                Внимательность
              </p>
            </div>
            <div>
              <p class="token-link">
                Выбор
              </p>
            </div>
            <div class="text-lg-end">
              <p class="token-link text-lg-start">
                Внимательность
              </p>
            </div>
            <div>
              <p class="token-link">
                Выбор
              </p>
            </div>
            <div class="text-lg-end">
              <p class="token-link text-lg-start">
                Внимательность
              </p>
            </div>
            <div>
              <p class="token-link">
                Выбор
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 text-start">
        <div class="mt-lg-5">
          <p class="token-link active-token mb-lg-5">
            Осталось выбрать: n
          </p>
        </div>
        <div>
          <a href="/labs/pvk/" class="a-btn token-link mt-lg-5">
            Назад
          </a>
          <a href="/labs/lab1/" class="a-btn token-link mt-lg-5">
            Завершить
          </a>
        </div>
      </div>
    </div>
  </div>
</div>