<!DOCTYPE html>
<html lang="">
<head>
    <title>Результат теста</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="result.css">
</head>
<body>
<header>
    <h1>Лаба по ОПД</h1>
</header>
<main>
    <h2>Ваш результат</h2>
    <div class="result">
        <h3>Вы подходите для профессии:</h3>
        <p>Название профессии</p>
        <p>Описание профессии</p>
        <h3>Важность ПВК для вашей профессии:</h3>
        <ul>
            <li>Название ПВК 1 - Важность 1</li>
            <li>Название ПВК 2 - Важность 2</li>
            <li>Название ПВК 3 - Важность 3</li>
        </ul>
    </div>
</main>
<footer>
    <p>Сделано с любовью</p>
</footer>
</body>
</html>
