<div class="bloc l-bloc" id="bloc-15">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div>
                            <h3 class="mb-4 section-heading primary-text">
                                Простые сенсомоторные реакции
                            </h3>
                            <div class="row">
                                <div class="col">
                                    <a href="light/" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl">Тест на свет</a>
                                </div>
                                <div class="col">
                                    <a href="sound/" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl">Тест на звук</a>
                                </div>
                            </div>

                            <a href="../" class="btn btn-d box-btn fill-mob-btn primary-btn mt-lg-5 float-lg-end btn-rd btn-lg">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>