/* Основные стили */
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #0056b3;
}

/* Стили для заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 50px;
}

/* Стили для навигации */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.2s ease-in-out;
}

nav a:hover {
    color: #007bff;
}

/* Стили для таблиц */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

thead {
    background-color: #007bff;
    color: #fff;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

/* Стили для футера */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

/* Стили для кнопок */
button,
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
}

.btn:hover {
    background-color: #007bff;
}

button.primary,
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

button.secondary,
.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}

button.success,
.btn-success {
    background-color: #28a745;
    color: #fff;
}

button.danger,
.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

/* Стили для форм */
.test-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.test-card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.test-card h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
}

.test-card p {
    margin: 0;
}

.test-card a {
    display: block;
    margin-top: 20px;
}

/* Стили для формы теста */
.form-test {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-test label {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.form-test input[type="radio"] {
    display: none;
}

.form-test input[type="radio"] + label {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.form-test input[type="radio"]:checked + label {
    background-color: #007bff;
}

.form-test button[type="submit"] {
    margin-top: 20px;
}