<!DOCTYPE html>
<html lang="">
<head>
    <title>Тест</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="test.css">
</head>
<body>
<header>
    <h1>Лаба по ОПД</h1>
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="pvk.html">Список ПВК</a></li>
            <li><a href="prof.html">Профессии</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Тест 1</h2>
    <p>Описание теста 1</p>
    <a href="#" class="btn">Начать тест</a>
</main>
<footer>
    <p>Сделано с любовью</p>
</footer>
</body>
</html>
