<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/png" href="../favicon.png">
    
	<link rel="stylesheet" type="text/css" href="../all.css?3905">
	
    <title>Login</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body data-clean-url="true">

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<!-- bloc-1 -->
<div class="bloc sticky-nav bgc-3849 l-bloc none" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="col ps-lg-3 pe-lg-3 ps-0 pe-0 ps-sm-2 pe-sm-2">
				<nav class="navbar navbar-light row navbar-expand-md" role="navigation">
					<div class="container-fluid ">
						<a class="navbar-brand brand ltc-2190" href="../">Лабы по ОПД</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-18508">
							<span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
						</button>
						<div class="collapse navbar-collapse navbar-18508">
								<ul class="site-navigation nav navbar-nav ms-auto ">
									<li class="nav-item">
										<a href="../settings/" class="nav-link a-btn">Настройки</a>
									</li>
									<li class="nav-item">
										<a href="." class="nav-link a-btn">Войти</a>
									</li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-7 -->
<div class="bloc l-bloc" id="bloc-7">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-4 col text-start">
				<h3 class="mb-4 section-heading primary-text">
					Вход
				</h3>
				<div>
					<form data-clean-url-used="true" id="form_3" data-form-type="blocs-form" novalidate="" data-success-msg="Your message has been sent." data-fail-msg="Sorry it seems that our mail server is not responding, Sorry for the inconvenience!">
						<div class="form-group mb-3">
							<label class="form-label">
								Почта<br>
							</label>
							<input id="name3" class="form-control" required="" type="email" data-error-validation-msg="Неправильный адрес почты" data-validation-required-message="Введите почту">
						</div>
						<div class="form-group mb-3 mb-lg-3">
							<label class="form-label">
								Пароль
							</label>
							<input id="email3" class="form-control" type="password" required="" data-validation-required-message="Введите пароль">
						</div> 
						<button class="bloc-button btn btn-d btn-lg w-100 primary-btn box-btn fill-mob-btn mb-4" type="submit">
							Войти
						</button>
					</form>
				</div>
			</div>
			<div class="col-sm-8 col text-start">
				<h3 class="mb-4 section-heading primary-text">
					Регистрация
				</h3>
				<div>
					<form data-clean-url-used="true" id="form_4" data-form-type="blocs-form" novalidate="" data-success-msg="Your message has been sent." data-fail-msg="Sorry it seems that our mail server is not responding, Sorry for the inconvenience!">
						<div class="form-group mb-3">
							<label class="form-label">
								Имя
							</label>
							<input id="name4" class="form-control" required="" data-validation-required-message="Введите имя">
						</div>
						<div class="form-group mb-3">
							<label class="form-label">
								Почта
							</label>
							<input id="email4" class="form-control" type="email" data-error-validation-msg="Неправильный адрес почты" required="" data-validation-required-message="Введите почту">
						</div>
						<div class="pb-lg-3">
							<div class="form-switch form-check">
								<input class="form-check-input" type="checkbox" id="input_1967" checked="checked">
								<label class="form-check-label" for="input_1967">
									Я готов выступать в роли эксперта и ставить оценки
								</label>
							</div>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">
								Пароль
							</label>
							<input id="email4" class="form-control" type="password" required="" data-validation-required-message="Введите пароль">
						</div>
						<div class="form-group mb-3">
							<label class="form-label">
								Пароль
							</label>
							<input id="email4" class="form-control" type="password" required="" data-validation-required-message="Повторите пароль">
						</div>
						<div class="form-check">
							<input class="form-check-input mb-lg-3" type="checkbox" id="optin4" name="optin4">
							<label class="form-check-label">
								Соглашаюсь получать спам-рассылку не чаще, чем дважды в неделю
							</label>
						</div> 
						<button class="bloc-button btn btn-d btn-lg w-100 primary-btn box-btn fill-mob-btn mt-2" type="submit">
							Зарегестрироваться
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-7 END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="text-center text-md-start l-bloc col-lg-12 offset-lg-0 mt-4 mb-4 col-md-12">
				<div class="divider-h">
				</div>
				<div class="form-group mb-3">
					<label class="form-label text-lg-start">
						<strong>Без ChatGPT</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="../js/all.js?554"></script><!-- Additional JS END -->


</body>
</html>
