<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/png" href="../favicon.png">
    
	<link rel="stylesheet" type="text/css" href="../all.css?587">
	
    <title>First_laba</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body data-clean-url="true">

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<!-- bloc-1 -->
<div class="bloc sticky-nav bgc-3849 l-bloc none" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="col ps-lg-3 pe-lg-3 ps-0 pe-0 ps-sm-2 pe-sm-2">
				<nav class="navbar navbar-light row navbar-expand-md" role="navigation">
					<div class="container-fluid ">
						<a class="navbar-brand brand ltc-2190" href="../">Лабы по ОПД</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-18508">
							<span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
						</button>
						<div class="collapse navbar-collapse navbar-18508">
								<ul class="site-navigation nav navbar-nav ms-auto">
									<li class="nav-item">
										<a href="../settings/" class="nav-link a-btn">Настройки</a>
									</li>
									<li class="nav-item">
										<a href="../login/" class="nav-link a-btn">Войти</a>
									</li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-5 -->
<div class="bloc l-bloc" id="bloc-5">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-8 text-start">
				<div class="text-lg-center">
					<h3 class="mb-4 section-heading primary-text">
						Первая лабораторная<br>
					</h3>
				</div>
				<h5 class="mb-4 text-lg-start">
					Определение видов программистов и ИТ, ПВК для определенного вида деятельности
				</h5>
				<div>
					<ul class="nav nav-tabs" id="nav-11978-tab" role="tablist">
						<li class="nav-item">
							<a class="a-btn nav-link active mini-heading token-link" id="nav-11978-tab-1" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-11978-content-1" aria-selected="true" data-bs-target="#nav-11978-content-1">C1<br></a>
						</li>
						<li class="nav-item">
							<a class="a-btn nav-link mini-heading token-link" id="nav-11978-tab-2" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-11978-content-2" aria-selected="false" data-bs-target="#nav-11978-content-2">PHP</a>
						</li>
						<li class="nav-item">
							<a class="a-btn nav-link mini-heading token-link link-style" id="nav-11978-tab-3" data-bs-toggle="tab" href="#" role="tab" aria-controls="nav-11978-content-3" aria-selected="false" data-bs-target="#nav-11978-content-3">HTML</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="nav-11978-content-1" role="tabpanel" aria-labelledby="nav-11978-content-1">
							<div class="pb-lg-3">
								<div class="row">
									<div class="col">
										<p class="bento-box">
											Программист 1С - это специалист, который занимается разработкой программных решений на платформе 1С:Предприятие. Он создает и поддерживает информационные системы для управления бизнес-процессами в компаниях различных отраслей.
										</p>
									</div>
									<div class="col">
										<div>
											<label class="form-label mini-heading">
												Ключевые ПВК<br>
											</label>
											<ul class="list-unstyled">
												<li>
													<p class="token-link">
														Внимательность
													</p>
												</li>
												<li>
													<p class="token-link">
														Память
													</p>
												</li>
												<li>
													<p class="token-link">
														Усидчивость
													</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div><a href="../1_pvk/" class="btn btn-d btn-lg btn-rd mb-lg-3 w-100 box-btn fill-mob-btn primary-btn">Определить ПВК<br></a>
						</div>
						<div class="tab-pane fade-tab-bs" id="nav-11978-content-2" role="tabpanel" aria-labelledby="nav-11978-content-2">
							<div class="pb-lg-3">
								<div class="row">
									<div class="col">
										<p class="bento-box text-lg-start">
											Программист PHP - это специалист, который разрабатывает веб-приложения и сайты на языке программирования PHP. Он использует этот язык для написания скриптов, которые обрабатывают данные и взаимодействуют с базами данных.
										</p>
									</div>
									<div class="col">
										<div>
											<label class="form-label mini-heading">
												Ключевые ПВК<br>
											</label>
											<ul class="list-unstyled">
												<li>
													<p class="token-link">
														Внимательность
													</p>
												</li>
												<li>
													<p class="token-link">
														Память
													</p>
												</li>
												<li>
													<p class="token-link">
														Усидчивость
													</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div><a href="../1_pvk/" class="btn btn-d btn-lg btn-rd mb-lg-3 w-100 box-btn fill-mob-btn primary-btn">Определить ПВК</a>
						</div>
						<div class="tab-pane fade-tab-bs" id="nav-11978-content-3" role="tabpanel" aria-labelledby="nav-11978-content-3">
							<div class="pb-lg-3">
								<div class="row">
									<div class="col">
										<p class="bento-box">
											Программист HTML - это специалист, который занимается созданием веб-страниц с использованием языка разметки HTML. Он работает над версткой сайтов и обеспечивает корректное отображение контента в браузерах.
										</p>
									</div>
									<div class="col">
										<div>
											<label class="form-label mini-heading">
												Ключевые ПВК<br>
											</label>
											<ul class="list-unstyled">
												<li>
													<p class="token-link">
														Внимательность
													</p>
												</li>
												<li>
													<p class="token-link">
														Память
													</p>
												</li>
												<li>
													<p class="token-link">
														Усидчивость
													</p>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div><a href="../1_pvk/" class="btn btn-d btn-lg btn-rd mb-lg-3 w-100 box-btn fill-mob-btn primary-btn">Определить ПВК</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4 text-start">
				<div class="pb-lg-3">
					<h3 class="mb-4 primary-text box-heading">
						Список ПВК
					</h3>
					<p class="token-link">
						Внимательность
					</p>
					<p class="token-link">
						Память
					</p>
					<p class="token-link">
						Усидчивость
					</p>
					<p class="token-link">
						Реакция
					</p>
					<p class="token-link">
						Креативность
					</p>
					<p class="token-link">
						Аппетит
					</p>
					<p class="token-link">
						Сонливость
					</p>
					<p class="token-link">
						Лидерство
					</p>
					<p class="token-link">
						Апатия
					</p>
					<p class="token-link">
						Целеустремленность
					</p><a href="../list_pvk/" class="btn btn-d btn-rd box-btn fill-mob-btn primary-btn">Все ПВК</a>
				</div>
				<div>
					<div>
						<h3 class="mb-4 primary-text box-heading">
							Список экспертов
						</h3>
						<p class="token-link mb-lg-3">
							Иванов
						</p>
						<p class="token-link mb-lg-3">
							Петров
						</p>
						<p class="token-link mb-lg-3">
							Сидоров
						</p>
					</div><a href="#" class="btn btn-d btn-rd box-btn fill-mob-btn primary-btn mb-lg-3 float-lg-none">Управление списком</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="text-center text-md-start l-bloc col-lg-12 offset-lg-0 mt-4 mb-4 col-md-12">
				<div class="divider-h">
				</div>
				<div class="form-group mb-3">
					<label class="form-label text-lg-start">
						<strong>Без ChatGPT</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="../js/all.js?3047"></script><!-- Additional JS END -->


</body>
</html>
