<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/png" href="../favicon.png">
    
	<link rel="stylesheet" type="text/css" href="../all.css?6071">
	
    <title>About</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body data-clean-url="true">

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<!-- bloc-1 -->
<div class="bloc sticky-nav bgc-3849 l-bloc none" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="col ps-lg-3 pe-lg-3 ps-0 pe-0 ps-sm-2 pe-sm-2">
				<nav class="navbar navbar-light row navbar-expand-md" role="navigation">
					<div class="container-fluid ">
						<a class="navbar-brand brand ltc-2190" href="../">Лабы по ОПД</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-18508">
							<span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
						</button>
						<div class="collapse navbar-collapse navbar-18508">
								<ul class="site-navigation nav navbar-nav ms-auto">
									<li class="nav-item">
										<a href="../settings/" class="nav-link a-btn">Настройки</a>
									</li>
									<li class="nav-item">
										<a href="../login/" class="nav-link a-btn">Войти</a>
									</li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-4 -->
<div class="bloc l-bloc" id="bloc-4">
	<div class="container bloc-md">
		<div class="row">
			<div class="text-md-start col-lg-12 col-md-12 text-start ps-0 pe-0 ps-lg-3 pe-lg-3 ps-md-3 pe-md-3 ps-sm-2 pe-sm-2">
				<h3 class="section-heading primary-text mb-3 mb-md-4">
					Наша команда
				</h3>
			</div>
			<div class="d-flex col-sm-12 col-lg-6 ps-0 pe-0 mb-3 ps-sm-2 pe-sm-2 mb-sm-3 col-md-12 ps-md-3 pe-md-3 mb-md-4 mb-lg-0">
				<div class="bento-box bgc-5341 primary-gradient">
					<picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/avatar@2x.webp"><img src="../img/lazyload-ph.png" data-src="../img/avatar@2x.png" class="img-fluid mx-auto d-block avatar mb-4 mt-4 mb-lg-4 lazyload" alt="avatar@2x" width="150" height="215"></picture>
					<h3 class="tc-3849 box-heading">
						Хвалебный текст
					</h3>
					<p class="box-info tc-3849">
						Потом сгененируем в чатгпт. А ой
					</p>
				</div>
			</div>
			<div class="d-flex col-sm-12 mb-md-0 ps-0 pe-0 text-center ps-sm-2 pe-sm-2 text-sm-start col-md-12 ps-md-3 pe-md-3 col-lg-6 mb-0 mb-sm-0">
				<div class="bento-box">
					<div>
						<h3 class="box-heading primary-text">
							Хвалебные ссылки<br>
						</h3>
						<p class="box-info tc-2190">
							Потом придумаем
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-4 END -->

<!-- bloc-5 -->
<div class="bloc bg-1648326642-32-kartinkof-club-p-mem-ilon-mask-kurit-34 d-bloc" id="bloc-5">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div class="card">
					<div class="card-body team-card">
						<picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/placeholder-user.webp"><img src="../img/lazyload-ph.png" data-src="../img/placeholder-user.png" class="rounded-circle mx-auto d-block mt-5 lazyload" width="100" alt="placeholder user" height="100"></picture>
						<h3 class="text-center mg-sm">
							Иванов
						</h3>
						<h5 class="text-center mg-md">
							Frontend и weekend
						</h5>
						<div class="row">
							<div class="col-6 col-sm-2 offset-sm-2 col offset-md-1 offset-lg-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-facebook-official icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-twitter icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-instagram icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-envelope-o icon-md"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mt-3 mt-md-0">
				<div class="card">
					<div class="card-body team-card">
						<picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/placeholder-user.webp"><img src="../img/lazyload-ph.png" data-src="../img/placeholder-user.png" class="rounded-circle mx-auto d-block mt-5 lazyload" width="100" alt="placeholder user" height="100"></picture>
						<h3 class="text-center mg-sm">
							Петров
						</h3>
						<h5 class="text-center mg-md">
							Backend и&nbsp;brainstorm
						</h5>
						<div class="row">
							<div class="col-6 col-sm-2 offset-sm-2 col offset-md-1 offset-lg-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-facebook-official icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-twitter icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-instagram icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-envelope-o icon-md"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 mt-3 mt-md-0">
				<div class="card">
					<div class="card-body team-card">
						<picture><source type="image/webp" srcset="../img/lazyload-ph.png" data-srcset="../img/placeholder-user.webp"><img src="../img/lazyload-ph.png" data-src="../img/placeholder-user.png" class="rounded-circle mx-auto d-block mt-5 lazyload" width="100" alt="placeholder user" height="100"></picture>
						<h3 class="text-center mg-sm">
							Сидоров
						</h3>
						<h5 class="text-center mg-md">
							Базы данных и Kompas 3d
						</h5>
						<div class="row">
							<div class="col-6 col-sm-2 offset-sm-2 col offset-md-1 offset-lg-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-facebook-official icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-twitter icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-instagram icon-md"></span></a>
								</div>
							</div>
							<div class="col-6 col-sm-2">
								<div class="text-center">
									<a href="https://blocsapp.com/"><span class="fa fa-envelope-o icon-md"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-5 END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="text-center text-md-start l-bloc col-lg-12 offset-lg-0 mt-4 mb-4 col-md-12">
				<div class="divider-h">
				</div>
				<div class="form-group mb-3">
					<label class="form-label text-lg-start">
						<strong>Без ChatGPT</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="../js/all.js?3318"></script><!-- Additional JS END -->


</body>
</html>
