<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<meta name="robots" content="index, follow">
    <link rel="shortcut icon" type="image/png" href="../favicon.png">
    
	<link rel="stylesheet" type="text/css" href="../all.css?4513">
	
    <title>2_hard</title>


    
<!-- Analytics -->
 
<!-- Analytics END -->
    
</head>
<body data-clean-url="true">

<!-- Preloader -->
<div id="page-loading-blocs-notifaction" class="page-preloader"></div>
<!-- Preloader END -->


<!-- Main container -->
<div class="page-container">
    
<!-- bloc-1 -->
<div class="bloc sticky-nav bgc-3849 l-bloc none" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="col ps-lg-3 pe-lg-3 ps-0 pe-0 ps-sm-2 pe-sm-2">
				<nav class="navbar navbar-light row navbar-expand-md" role="navigation">
					<div class="container-fluid ">
						<a class="navbar-brand brand ltc-2190" href="../">Лабы по ОПД</a>
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0 ms-auto" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-18508">
							<span class="navbar-toggler-icon"><svg height="32" viewBox="0 0 32 32" width="32"><path class="svg-menu-icon" d="m2 9h28m-28 7h28m-28 7h28"></path></svg></span>
						</button>
						<div class="collapse navbar-collapse navbar-18508">
								<ul class="site-navigation nav navbar-nav ms-auto">
									<li class="nav-item">
										<a href="../settings/" class="nav-link a-btn">Настройки</a>
									</li>
									<li class="nav-item">
										<a href="../login/" class="nav-link a-btn">Войти</a>
									</li>
								</ul>
							</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

<!-- bloc-15 -->
<div class="bloc l-bloc" id="bloc-15">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col">
						<div>
							<h3 class="mb-4 section-heading primary-text">
								Сложные сенсомоторные реакции
							</h3>
							<div class="row">
								<div class="col">
									<a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl" data-bs-toggle="modal" data-bs-target="#test-colors">Разные цвета</a>
									<div id="test-colors" class="modal fade" tabindex="-1" role="dialog">
										<div class="modal-dialog  modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h3 class="mg-clear primary-text box-heading">
														Оценка скорости реакции на разные цвета
													</h3>
												</div>
												<div class="modal-body">
													<p>
														Сам тест
													</p>
												</div>
												<div class="modal-footer">
													<a href="#" class="btn btn-d btn-lg box-btn fill-mob-btn primary-btn" data-bs-toggle="modal" data-bs-target="#test-colors">Закрыть</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl" data-bs-toggle="modal" data-bs-target="#test-sound">Звуковой сигнал</a>
									<div id="test-sound" class="modal fade" tabindex="-1" role="dialog">
										<div class="modal-dialog  modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h3 class="mg-clear primary-text box-heading">
														Оценка скорости реакции на сложный звуковой сигнал
													</h3>
												</div>
												<div class="modal-body">
													<p>
														Сам тест
													</p>
												</div>
												<div class="modal-footer">
													<a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn btn-lg" data-bs-toggle="modal" data-bs-target="#test-sound">Закрыть</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col">
									<a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl" data-bs-toggle="modal" data-bs-target="#test-counting">Сложение в уме</a>
									<div id="test-counting" class="modal fade" tabindex="-1" role="dialog">
										<div class="modal-dialog  modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h3 class="mg-clear primary-text box-heading">
														Оценка скорости реакции на сложение в уме
													</h3>
												</div>
												<div class="modal-body">
													<p>
														Сам тест
													</p>
												</div>
												<div class="modal-footer">
													<a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn btn-lg" data-bs-toggle="modal" data-bs-target="#test-counting">Закрыть</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><a href="#" class="btn btn-d box-btn fill-mob-btn primary-btn mb-lg-3 w-100 btn-xl mt-lg-3" data-bs-toggle="modal" data-bs-target="#progress-hard">Прогресс<br></a>
							<div id="progress-hard" class="modal fade" tabindex="-1" role="dialog">
								<div class="modal-dialog  modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h3 class="mg-clear primary-text box-heading">
												Прогресс по сложным реакциям
											</h3>
										</div>
										<div class="modal-body">
											<p>
												Прогресс
											</p>
										</div>
										<div class="modal-footer">
											<a href="#" class="btn btn-d btn-lg box-btn fill-mob-btn primary-btn" data-bs-toggle="modal" data-bs-target="#progress-hard">Закрыть</a>
										</div>
									</div>
								</div>
							</div><a href="../2_main/" class="btn btn-d box-btn fill-mob-btn primary-btn mt-lg-5 float-lg-end btn-rd btn-lg">Назад</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-15 END -->

<!-- ScrollToTop Button -->
<button aria-label="Scroll to top button" class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></button>
<!-- ScrollToTop Button END-->


<!-- bloc-1 -->
<div class="bloc l-bloc" id="bloc-1">
	<div class="container bloc-no-padding">
		<div class="row">
			<div class="text-center text-md-start l-bloc col-lg-12 offset-lg-0 mt-4 mb-4 col-md-12">
				<div class="divider-h">
				</div>
				<div class="form-group mb-3">
					<label class="form-label text-lg-start">
						<strong>Без ChatGPT</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-1 END -->

</div>
<!-- Main container END -->
    


<!-- Additional JS -->
<script src="../js/all.js?3040"></script><!-- Additional JS END -->


</body>
</html>
